<!-- <h2>Detalls de: {{ hero.name | uppercase }}</h2>
<div>
  <span>id:</span> <span>{{ hero.id }}</span>
</div>
<div>
  <label for="name">Nom de l'heroi:</label>
  <input
    type="text"
    id="name"
    placeholder="Nom de l'heroi"
    [(ngModel)]="hero.name"
  />
</div>
 -->

<h2>Els Meus Herois</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <div class="hero">
      <a routerLink="/detail/{{ hero.id }}">
        <span class="badge">{{ hero.id }}</span>
        <span class="name">{{ hero.name }}</span>
      </a>
      <button type="button" class="delete" title="delete hero" (click)="delete(hero)">x</button>
    </div>
  </li>
</ul>
<div class="hero-form">
  <label for="mew-hero">Nom de l'heroi</label>
  <input type="text" id="new-hero" #heroName />
</div>
<button (click)="add(heroName.value); heroName.value=''">Afegeix heroi</button>
