<!-- <div class="bloc-input" *ngIf="llistaNoms.length < 5">
	<input type="text" [(ngModel)]="nomInput">
	<button (click)="afegirNom()">Afegir nom</button>
</div> -->

<!-- <div [ngSwitch]="llistaNoms.length < 5">
  <div class="bloc-input" *ngSwitchCase="false">
    <p>NO es poden afegir més noms</p>
  </div>
  <div class="bloc-input" *ngSwitchDefault>
    <input type="text" [(ngModel)]="nomInput" />
    <button (click)="afegirNom()">Afegir nom</button>
  </div>
</div> -->

<div class="container">
  <div [ngSwitch]="llistaNoms.length">
    <div *ngSwitchCase="4">
      <p>Només queda espai per 1 nom més...</p>
      <div class="bloc-input">
        <input type="text" [(ngModel)]="nomInput" />
        <button (click)="afegirNom()">Afegir nom</button>
      </div>
    </div>
    <div *ngSwitchCase="5">
      <p>NO es poden afegir més noms</p>
    </div>
    <div class="bloc-input" *ngSwitchDefault>
      <input type="text" [(ngModel)]="nomInput" />
      <button (click)="afegirNom()">Afegir nom</button>
    </div>
  </div>
  <div class="bloc-input2" *ngFor="let nom of llistaNoms; index as ordre">
    <p>Hola gent! Sóc el {{ nom | primeraMaj }}, codi {{ nom | slice:0:2 |uppercase}}, i el número {{ ordre + 1 }} de la llista</p>
    <button (click)="onNomClick()">Cliqueu per saludar!</button>
  </div>
</div>
