.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bloc-input {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 1rem;

  input {
    height: 25px;
    max-width: 450px;
    flex: 1 1 auto;
  }

  button {
    flex: 0 1 150px;
  }
}
.bloc-input2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  font-size: 0.9em;
}

button {
  padding: 0.25rem 1rem;
}
