<div class="container">
  <h1 [ngStyle]="estilsTitol">
    Let's learn Angular
  </h1>
  <h3 [style.font-size.rem]="componentHello.llistaNoms.length > 0 ? 1.5 : 1">
    Número de noms a la llista: {{ componentHello.llistaNoms.length}}
  </h3>
  <div
    [class.amagat]="componentHello.nomInput.length === 0"
    [class.vist]="componentHello.nomInput.length !== 0"
  >
    Escrivint
    <span [ngClass]="defineixClasse(componentHello.nomInput)">{{
      componentHello.nomInput
    }}</span>
    al component Hello
  </div>
  <app-hello #componentHello (diguesHola)="onDiguesHola($event)"></app-hello>

  <img [src]="mevaImatge" alt="La meva imatge" />
</div>
